# permanently remove .DS_Store from GitHub Desktop commits:
# https://brandoncaples.com/martech/2022/git-remove-ds-store
# Terminal in the root of the particular GitHub archive:
# find . -name .DS_Store -print0 | xargs -0 git rm -f --ignore-unmatch
#
#
# open .gitignore
**/.DS_Store

# Quarto rendered output
/_site/
/.quarto/
*_files/
*.html

# R
.Rhistory
.RData
.Rproj.user/
renv/library/

# Large sequence/structure files (comment out if you want to commit example data)
*.fastq
*.fastq.gz
*.bam
*.bai

# Foldseek tmp folders
*/tmp/

**/*.quarto_ipynb
