# Quarto rendered output
/_site/
/.quarto/
*_files/
*.html
 
# R
.Rhistory
.RData
.Rproj.user/
renv/library/
 
# Large sequence/structure files (comment out if you want to commit example data)
*.fastq
*.fastq.gz
*.bam
*.bai
 
# Foldseek tmp folders
*/tmp/
